<h1>
  Posts:
  <%= @posts.count %>
  /
  <%= Post.count %>
</h1>

<%= link_to_unless_current "10", posts_path(items: 10) %>
<%= link_to_unless_current "50", posts_path(items: 50) %>
<%= link_to 'New Post', new_post_path %>

<br>

<%= raw pagy_nav(@pagy) %>
<%== pagy_nav(@pagy) %>
<%== pagy_bootstrap_nav(@pagy) %>

<div style="overflow-x:auto;">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Title</th>
        <th>Content</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.id %></td>
          <td><%= post.created_at.strftime("%d/%H/%Y") %></td>
          <td><%= post.title %></td>
          <td><%= simple_format(post.content) %></td>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>